.custom-card {
    padding: 1.5rem;
    border: none;
    border-radius: 0.75rem;
    // background: linear-gradient(45deg, rgba(34, 34, 44, 1) 0%, rgba(34, 34, 44, 1) 50%, rgba(44, 41, 108, 1) 100%)
}
