/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Basic textarea auto-height (very simple version) */
/* For more robust auto-resizing, a small JS snippet or library is better */
/* textarea { */
/* field-sizing: content; */
/* New CSS property, not fully supported everywhere yet */
/* } */

.code-block {
  margin: 1.5rem 0;
}

.markdown>p {
  display: inline-block;
  margin: 8px 0;
}

.markdown *:not(.code-block) code {
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: 0.875rem;
  display: inline-block;
  color: rgb(197, 200, 198);
  background-color: rgb(29, 31, 33);
  padding: 0.25rem 0.5rem;
  margin: 0 0.125rem;
  border-radius: 0.3em;

}

.markdown ul {
  list-style: disc;
  margin: 1rem 0;
}

.markdown ul li:first-child {}

.markdown ul li:last-child {}

.markdown ul li {
  margin-left: 2rem;
  margin-bottom: 0.6rem;
}